@font-face {
    font-family: 'SuperMario';
    src: url('../assets/super-mario-bros--3-webfont.eot');
    src: url('../assets/super-mario-bros--3-webfont.eot') format('embedded-opentype'),
         url('../assets/super-mario-bros--3-webfont.woff') format('woff'),
         url('../assets/super-mario-bros--3-webfont.ttf') format('truetype'),
         url('../assets/super-mario-bros--3-webfont#SuperMario') format('svg');
}
