$bgColor: rgb(154, 78, 0);
$fontColor1: #ea9e22;

@import "fonts";
@import "reset";
@import "stage";

body {
    background: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

.blackBadge {
	width: 340px;
	height: 80px;
	margin-top: 10px;
	margin-left: 100px;
	background: #000;
	color: #fff;
}
.blackBadge p {
	font-family: "SuperMario";
	text-align: center;
	margin: 0;
	padding: 0;
}
.push {
	color: $fontColor1;
	font-size: 20px;
}
.extra {
	font-size: 20px;
	margin-top: 10px !important;
}

.slots {
	margin-left: 164px;
	margin-top: 181px;
}
.slot {
	width: 56px;
	height: 56px;
	background: #fff;
	float: left;
	margin-right: 8px;
	background: url(../images/smb2_various_sheet.png) no-repeat;
	background-size: 900px 910px;
	background-position: -900px -910px;
}
.star {
	background-position: -302px -470px;
	animation: animateToStar 1s steps(1);
}
.thing {
	background-position: -362px -470px;
	animation: animateToThing 1s steps(1);
}
.veget {
	background-position: -422px -470px;
	animation: animateToVeget 1s steps(1);
}
.cherry {
	background-position: -482px -470px;
	animation: animateToCherry 1s steps(1);
}

#slot1 {
	animation-iteration-count: 3;
}
#slot2 {
	animation-iteration-count: 6;
}
#slot3 {
	animation-iteration-count: 9;
}

.coins {
	clear: both;
	color: #fff;
	background: #000;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-family: "SuperMario";
	font-size: 20px;
	margin-top: 85px;
	margin-left: -70px;
}

@keyframes animateToStar {
	0% { background-position: -362px -470px; }
	25% { background-position: -422px -470px; }
	50% { background-position: -482px -470px; }
	75% { background-position: -422px -470px; }
	100% { background-position: -302px -470px; }
}
@keyframes animateToThing {
	0% { background-position: -302px -470px; }
	25% { background-position: -422px -470px; }
	50% { background-position: -482px -470px; }
	75% { background-position: -302px -470px; }
	100% { background-position: -362px -470px; }
}
@keyframes animateToVeget {
	0% { background-position: -302px -470px; }
	25% { background-position: -362px -470px; }
	50% { background-position: -482px -470px; }
	75% { background-position: -302px -470px; }
	100% { background-position: -422px -470px; }
}
@keyframes animateToCherry {
	0% { background-position: -302px -470px; }
	25% { background-position: -362px -470px; }
	50% { background-position: -422px -470px; }
	75% { background-position: -362px -470px; }
	100% { background-position: -482px -470px; }
}